#hidden {
  display: none;
}

.mouse-event {
  display: flex;
  border: 1px solid black;
  height: 250px;
  width: 500px;
}

.container {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.x-cord {
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

.y-cord {
  border: 1px solid black;
  height: 50px;
  width: 100px;
}
